# VsCode

.vs

# LaTeX compile stuff
*.fdb_latexmk
*.blg
*.log
*.out
*.aux
*.toc
*.lof
*.fls
*.gz
*.bbl
*.suo
*.lol
*.lot
*.eps

# Out
*/exposee_main.pdf
*/thesis_main.pdf
*.synctex(busy)

# Dict files
ltex.*.txt

# Docs
docs/*
Outline/outline_main.pdf
Thesis/plantuml/CCI-System-all.puml
Thesis/thesis_main.docx
