# VsCode
.vs

# LaTeX compile stuff
*.fdb_latexmk
*.auxlock
*.dpth
*.blg
*.log
*.out
*.aux
*.toc
*.nav
*.lof
*.fls
*.gz
*.bbl
*.suo
*.snm
*.vrb
*.lol
*.lot
*.eps
*.loc
*.soc

# Out
*/exposee_main.pdf
*/thesis_main.pdf
*/thesis_main.docx
*/thesis_presentation.pptx
*/thesis_presentation.pdf
*/outline_main.pdf
*.synctex(busy)

# Dict files
ltex.*.txt
Thesis/ext/*
Evaluation/old/*
Thesis/generated/*
Thesis/feedback/*
Presentation/feedback/*
Oberseminar/*

# Docs
docs/*
