# VsCode

.vs

# LaTeX compile stuff
*.fdb_latexmk
*.blg
*.log
*.out
*.aux
*.toc
*.lof
*.fls
*.gz
*.bbl
*.suo
*.lot

# Out
*/exposee_main.pdf
*/thesis_main.pdf

# Dict files
ltex.*.txt

# Docs
docs/*
Outline/outline_main.pdf
Thesis/plantuml/CCI-System-all.puml
Thesis/fig/C4_Elements.pdf
Thesis/fig/C4_Elements.tex
Thesis/fig/C4_Elements_ps.tex
Thesis/fig/C4-Elements.tex
Thesis/fig/C4-Elements.ps
